<div class="sidepanel">
    <!-- <button (click)="toggleSidePanel()">Toggle Side Panel</button> -->
    <h3>{{ 'sidepanel.title' | translate }}</h3>
    <ul>
        <li><a>{{ 'sidepanel.link.home' | translate }}</a></li>
        <li><a>{{ 'sidepanel.link.art' | translate }}</a></li>
        <li><a>{{ 'sidepanel.link.clothes' | translate }}</a></li>
        <li><a>{{ 'sidepanel.link.journeys' | translate }}</a></li>
        <li><a>{{ 'sidepanel.link.about' | translate }}</a></li>
        <li><a>{{ 'sidepanel.link.contact' | translate }}</a></li>
    </ul>
</div>